---
import Header from '../components/Header.astro';
import IconsSection from '../components/IconsSection.astro';
import ShortGallery from '../components/ShortGallery.astro';
import StartContent from '../components/startContent.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Aspid Sushi & Cuisine">
	<Header />

	<StartContent />

	<IconsSection />

	<ShortGallery />
	
	<main>
		
	</main>
</Layout>
