---
import Header from '../components/Header.astro';
import StartContent from '../components/startContent.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Aspid Sushi & Cuisine">
	<Header />

	<StartContent />
	
	<main>
		
	</main>
</Layout>
