---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import VarietyCard from '../components/VarietyCard.astro';
import {varieties} from '../data/varietiesData.js'
---

<Layout title="Aspid - Variedades">
	<Header />

    <h2 class="text-4xl text-center font-bold mt-5">Variedades</h2>

    <main class="container mt-10 mx-auto w-11/12 md:w-full grid md:grid-cols-3 gap-5">
        {
            varieties.map(variety => {
                return <VarietyCard variety={variety}/>
            })
        }
    </main>
</Layout>